   @import 'https://fonts.googleapis.com/css2?family=Lobster&display=swap' ;

   .overlay {
        position: absolute;
        width: 100%;
        height: 100vh;
        background: #ffae00;
        top: 0%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .overlay h1 {
          position: relative;
        font-size: 100px;
        letter-spacing: 20px;
        font-family: 'Lobster';
      }
      
      .overlay span {
        font-size: 30px;
        letter-spacing: 3px;
        font-weight: 600;
        color: whitesmoke;
      }

      @media (max-width:760px){
          .overlay h1{
              font-size: 32px;
              left: 15%;
          }
          .overlay span{
              font-size: 20px;
          }
      }
